img {
    width: 200px;
}

html{
    background: url(https://i.imgur.com/C7PEybs.gif);
    //background: url(https://webgradients.com/public/webgradients_png/003%20Spring%20Warmth.png);
}
body {
    text-align: center;
    font-family: "Arial";
    color:purple;
    background-size: cover;
}